* {
  margin: 0;
  padding: 0;
  /*border: solid black 1px;*/
}

:root {
  --font-primary: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-headline: "ABC Ginto Nord", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.app-container {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 100%;
}

.main-nav-section {
  background-color: hsl(216, 7%, 14%);
  width: 72px;
  display: flex;
  flex-shrink: 0;
}

.nav-server {
  margin: 0 auto;
}

.nav-server ul {
  list-style: none;
}

.server-section {
  background-color: hsl(223, 7%, 20%);
  width: 240px;
  flex-shrink: 0;
}

.channel-section {
  background-color: hsl(220, 8%, 23%);
  flex-grow: 1;
  height: 100vh;
}

.header {
  font-family: var(--font-display);
  border-bottom: 1px solid hsla(0, 0%, 0%, 25%);
}

.channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.channel-header div {
  display: flex;
  align-items: center;
}

.channel-header svg {
  margin-left: 8px;
}

.server-name {
  font-weight: normal;
  font-size: 1em;
  padding: 15px;
}

.channel-name {
  margin-left: 8px;
  font-weight: normal;
  font-size: 1.0625em;
}

.toolbar {
  margin-top: 4px;
}

.toolbar li {
  display: inline;
  margin-left: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.toolbar div {
  cursor: text;
}

.toolbar ul {
  display: flex;
  align-items: center;
}

.search-container {
  background-color: hsla(0, 0%, 0%, 40%);
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 6px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

#search {
  background-color: hsla(0, 0%, 0%, 0%);
  border: none;
  outline: none;
  color: white;
  width: 110px;
  transition: width 0.3s;
}

#search:focus {
  width: 200px;
}

.server-icon {
  margin-top: 8px;
  width: 48px;
  height: 48px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.separator {
  background-color: hsl(218, 7%, 23%);
  margin: 8px auto;
  width: 32px;
  height: 2px;
  text-align: center;
  border-radius: 1px;
}

.dm {
  margin-top: 12px;
  background-color: hsl(218, 7%, 23%);
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dm svg {
  margin: 0 auto;
}

.s1 {
  background-image: url(images/d23iows-627142a5-5cad-4dc2-a96d-fae711310d3e.png);
}

.s2 {
  background-image: url(images/_art_trade__cacti_by_legendarypixel_ddbf4px-fullview.png);
}

.s3 {
  background-image: url(images/d4qb62b-a8131be1-05e0-4dd4-9b64-f33c3fab31c4.png);
}
