* {
  margin: 0;
  padding: 0;
  /*border: solid black 1px;*/
}

:root {
  --font-primary: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-display: "ABC Ginto Normal", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --font-headline: "ABC Ginto Nord", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --profile-hover-color: hsl(220, 7%, 17%);
}

.app-container {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  height: 100%;
}

.main-nav-section {
  background-color: hsl(216, 7%, 14%);
  width: 72px;
  display: flex;
  flex-shrink: 0;
}

.nav-server {
  margin: 0 auto;
}

.nav-server ul {
  list-style: none;
}

.server-section {
  display: flex;
  flex-direction: column;
  background-color: hsl(223, 7%, 20%);
  width: 240px;
  flex-shrink: 0;
}

.channel-section {
  background-color: hsl(220, 8%, 23%);
  flex-grow: 1;
  height: 100vh;
}

.header {
  font-family: var(--font-display);
  border-bottom: 1px solid hsla(0, 0%, 0%, 25%);
}

.channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.channel-header div {
  display: flex;
  align-items: center;
}

.channel-header svg {
  margin-left: 8px;
}

.server-name {
  font-weight: normal;
  font-size: 1em;
  padding: 15px;
}

.channel-name {
  margin-left: 8px;
  font-weight: normal;
  font-size: 1.0625em;
}

.toolbar {
  margin-top: 4px;
}

.toolbar li {
  display: inline;
  margin-left: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.toolbar div {
  cursor: text;
}

.toolbar ul {
  display: flex;
  align-items: center;
}

.search-container {
  background-color: hsla(0, 0%, 0%, 40%);
  height: 24px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 6px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  border-radius: 3px;
}

#search {
  background-color: hsla(0, 0%, 0%, 0%);
  border: none;
  outline: none;
  color: white;
  width: 110px;
  transition: width 0.3s;
}

#search:focus {
  width: 200px;
}

.server-icon {
  margin-top: 8px;
  width: 48px;
  height: 48px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
}

.separator {
  background-color: hsl(218, 7%, 23%);
  margin: 8px auto;
  width: 32px;
  height: 2px;
  text-align: center;
  border-radius: 1px;
}

.dm {
  margin-top: 12px;
  background-color: hsl(218, 7%, 23%);
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dm svg {
  margin: 0 auto;
}

.s1 {
  background-color: red;
}

.s2 {
  background-color: green;
}

.s3 {
  background-color: blue;
}

.channels {
  flex-grow: 1;
}

.user-settings-container {
  display: flex;
  align-items: center;
  width: 240px;
  height: 53px;
  align-self: flex-end;
  background-color: hsl(220, 7%, 17%);
}

.user-container {
  display: flex;
  flex-grow: 1;
  margin-left: 6px;
  padding: 5px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.user-container:hover {
  --profile-hover-color: hsl(222, 7%, 27%);
  background-color: var(--profile-hover-color);
}

.profile-picture {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: yellow;
  border-radius: 50%;
  margin-right: 8px;
}

.status-container {
  position: absolute;
  top: 55%;
  right: -16%;
  width: 18px;
  height: 18px;
  background-color: var(--profile-hover-color);
  border-radius: 50%;
}

.status {
  position: absolute;
  background-color: hsl(128, 30%, 49%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 18%;
  right: 29%;
}

.username {
  margin-top: 1px;
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 0.875em;
}

.uid {
  font-family: var(--font-primary);
  font-size: 0.75em;
  font-weight: lighter;
  color: hsl(216, 4%, 74%);
}

.user-tools-container {
  display: flex;
  margin: 0px 8px;
}

.user-tool {
  cursor: pointer;
  margin-bottom: 1px;
  padding: 7px 6px 3px;
  border-radius: 4px;
}

.user-tool:hover {
  background-color: hsl(222, 7%, 27%);
}
